/* ESTILO GERAL  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0c0c0c;
  --hover-color: #1a1919;
  --btn-color: #193a02;
  --verdeclaro-color: #05e331;
  --text-color: #f9fcfe;
  --textdestaque-color: #818181;
  --sombreadoverde-color: #09c62f;
}
body {
  background-color: var(--main-color);
  color: var(--text-color);
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.configuracao {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--verdeclaro-color);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px var(--sombreadoverde-color);
  color: #193a02;
  transform: scale(1.05);
}

h2.titulo{
    color: var(--text-color);
    font-size: 38px;
    text-align: center;

}
h2.titulo span{
    color: var(--verdeclaro-color);
}

/* ESTILO DO CABEÇARIO  */
header {
  padding: 40px 4%;
}
header > .configuracao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--textdestaque-color);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
header a:hover {
  color: var(--text-color);
  transition: all 0.3s;
  transform: scale(1.05);
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE  */
section.topo-do-site {
  padding: 40px 4%;
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site h1 {
  font-size: 45px;
  line-height: 40px;
}
.topo-do-site .text-topo-do-site h1 span {
  color: var(--verdeclaro-color);
}
.topo-do-site .text-topo-do-site p {
  color: var(--text-color);
  margin: 40px 0;
}
.topo-do-site .img-topo-do-site{
    position: relative;
    animation: imgflutuar 2s ease-in-out infinite alternate;
}
.topo-do-site .img-topo-do-site:hover{
    animation: imgflutuar 2s ease-in-out infinite alternate;
    filter:drop-shadow( 3px 0px 2px var(--sombreadoverde-color));
}

@keyframes imgflutuar {
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

/* ESTILO DE HABILIDAES  */

section.habilidades{
    padding: 40px 4%;
}

section.habilidades .flex{
    gap: 60px;
}

.habilidades .habilidades-box{
    padding: 40px;
    /* border: 2px solid var(--textdestaque-color); */
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}
.habilidades .habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px var(--textdestaque-color);
}

.habilidades .habilidades-box i{
    font-size: 70px;
    color:var(--sombreadoverde-color);
}
.habilidades .habilidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
